{% extends 'base.html.twig' %}

{% block body %}
    <div class="card px-0">
        <div class="card-body bg-danger text-white">
            <p class="card-text">
                Aktuelle Umfragen
            </p>
        </div>
        <div class="list-group list-group-flush">
            {% for survey in surveys %}
            <a href="{{ path('survey_show',{'id':survey.id}) }}" class="list-group-item list-group-item-action">{{ survey.title }}</a>
            {% endfor %}
        </div>
        <div class="card-footer">
            Surveys
        </div>
    </div>
{% endblock %}