{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Wagner Survey Admin Dashboard' %}

{% block main %}
    <p>Content</p>
{% endblock %}
